<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Yakupova41Entities" connectionString="metadata=res://*/YakupovaModel.csdl|res://*/YakupovaModel.ssdl|res://*/YakupovaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-KUGQ5PI\SQLEXPRESS02;initial catalog=Yakupova41;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>